@media screen and (max-width: 950px) {
  .mainContainer {
    padding-top: 20px !important;
    margin: 0 !important;
  }

  .menu {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }

  .formContainer {
    width: 100% !important;
    margin: 0 !important;
  }

  .form {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
  }

  .form label {
    align-self: start !important;
  }

  .columna {
    margin-top: 20px !important;
    margin-left: 0 !important;
    
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .botonesContainer {
    width: 100% !important;
    align-items: center !important;
    justify-items: center !important;
    margin: 0 !important;
    margin: 20px !important;
  }

  .botonesContainer button {
    width: 90% !important;
  }
}

.mainContainer {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-bottom: rgb(91, 91, 91) 1px solid;
  padding-bottom: 20px;

}

.menu h2 {
  margin-bottom: 0px;
  font-size: 50px;
}

.formContainer {
  box-shadow: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.columna {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 60px;
    justify-content: start;
}

.columna label {
    margin-bottom: 10px;
    font-size: 22px;
}

.columna input {
    margin-bottom: 20px;
    width: 80%;
    height: 32px;
}

.columna select {
    width: 80%;
    height: 40px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--background);
    border: 2px, rgb(126, 126, 126);
    border-style:solid;
    margin: 5px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.2s;
    margin-bottom: 20px;
}

.columna select:focus{
  transform: scale(1.02);
  border-color: rgb(255, 255, 255);
  outline: none;
}


.columna select option {
    color: white;
    background-color: var(--background);
}



.chechboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


.addPuntoButton {
      display: inline-flex;
      width: 165px;
      height: 45px;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: 2px solid var(--borderInputColor);
      border-radius: 12px;
      background-color: var(--background);
      font-family: sans-serif;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
}

.addPuntoButton svg {
  width: 20px;
  height: 20px;
}

.addPuntoButton:hover {
  background-color: #7c6ef650
}


.miembrosButton {
  width: 250px;
  height: 45px;
  padding: 10px;
  background-color: var(--buttonColor);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 5px; 
  margin-bottom: 20px;
}

.guardarButton {
  width: 250px;
  height: 45px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.botonesContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 60%;
  margin-top: 20px;
}

.botonesContainer button {
  margin-left: 10px;
  width: 170px;
  height: 50px;
}

.crearButton {
  background-color: var(--buttonColor);
}

.crearButton:hover {
  background-color: var(--hoverButton);
}

.guardarButton:hover {
  background-color: lightgreen
}
