.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--background);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  color: var(--text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text);
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #f9fafb;
  text-align: center;
  font-size: 1.5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #f9fafb;
}

.campo label {
  font-weight: 600;
  color: #f9fafb;
}

.input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  color: #f9fafb;
  font-size: 1rem;
}

.input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.separador {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 1.5rem 0;
  border: none;
}

.subtitulo {
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f9fafb;
}

.checkboxContainer {
  margin: 1rem 0;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #f9fafb;

}

.checkboxInput {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.valor {
  margin: 0;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.actionButton {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-weight: 600;
}

.cancelButton {
  background: rgba(255, 255, 255, 0.05);
  color: inherit;
}

.cancelButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.saveButton {
  background-color: var(--buttonColor);
  color: white;
}

.saveButton:hover {
  background-color: var(--hoverButton);
}

@media (max-width: 768px) {
  .modalContent {
    padding: 1.5rem;
    width: 95%;
  }
  
  .modalButtons {
    flex-direction: column;
  }
  
  .actionButton {
    width: 100%;
  }
}