
:root {
  --background: #1a1a1e;
  --foreground: #ededed;
  --buttonColor: #7b6ef6;
  --hoverButton: #aba1fd;
  --borderInputColor: rgb(126, 126, 126);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

form Input {
  color: white;
  padding-left: 8px;
  background-color: var(--background);
  border: 2px, var(--borderInputColor);
  border-style:solid;
  margin: 5px;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

Input {
  color: white;
  padding-left: 8px;
  background-color: var(--background);
  border: 2px, var(--borderInputColor);
  border-style:solid;
  margin: 5px;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

form input:focus{
  transform: scale(1.02);
  border-color: rgb(255, 255, 255);
  outline: none;
}

.form input::placeholder{
  color: white;
}


button {
  padding: 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.buttonAceptar {
  background-color: var(--buttonColor);
}

button:hover {
  transform: scale(1.02);
}