@media screen and (max-width: 950px) {

  .form {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
  }

  .formColumns{
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .columna {
    margin-top: 20px !important;
    margin-left: 0 !important;
    
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .botonesContainer {
    width: 100% !important;
    align-items: center !important;
    justify-items: center !important;
    margin: 0 !important;
    margin: 20px !important;
  }

  .botonesContainer button {
    width: 90% !important;
  }
  
  .listaPuntos {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.fechaInput::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
    margin-right: 5px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formColumns {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.columna {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 60px;
    justify-content: flex-start;
}

.columna label {
    margin-bottom: 10px;
    font-size: 22px;
}

.columna input {
    width: 80%;
    height: 32px;
}

.izquierda input {
  margin-bottom: 30px;
}

.columna select {
    width: 80%;
    height: 40px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--background);
    border: 2px, rgb(126, 126, 126);
    border-style:solid;
    margin: 5px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.2s;
    margin-bottom: 40px;
}

.columna select:focus{
  transform: scale(1.02);
  border-color: rgb(255, 255, 255);
  outline: none;
}


.columna select option {
    color: white;
    background-color: var(--background);
}

.addPuntoButton {
      margin-right: 8px;
      margin-bottom: 10px;
      display: inline-flex;
      width: 85%;
      height: 45px;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: 2px solid var(--borderInputColor);
      border-radius: 12px;
      background-color: var(--background);
      font-family: sans-serif;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
}



.addPuntoButton:hover {
  background-color: #7c6ef650
}


.miembrosButton {
  width: 250px;
  height: 45px;
  padding: 10px;
  background-color: var(--buttonColor);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 5px; 
  margin-bottom: 20px;
}

.guardarButton {
  width: 250px;
  height: 45px;
  padding: 10px;
  background-color: var(--background);
  color: white;
  border: 3px solid green;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.botonesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 92%;
  margin-top: 60px;
}

.botonesContainer button {
  margin-left: 10px;
  width: 170px;
  height: 50px;
}

.crearButton {
  background-color: var(--buttonColor);
  border: var(--buttonColor);
}

.crearButton:hover {
  background-color: var(--hoverButton);
}

.guardarButton:hover {
  background-color: green
}

.listaPuntos {
  width: 90%;
  height:110px;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 8px;
  padding-left: 5px;
}

.derecha input {
  margin-bottom: 10px;
}

.listaMiembros {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 320px;
  overflow-y: auto;
  margin: 0px;
  background-color: var(--background);

}

.miembro {
    padding: 20px 10px 20px 10px;
    width: 94%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff1d;
    background-color: var(--background);
    list-style: none;
    margin: 0;
    justify-content: space-between;
}

.miembro input {
  
    width: 20px;
    height: 20px;
    margin: 0;
}

.listaPuntos p {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}


.listaPuntos::-webkit-scrollbar, .listaMiembros::-webkit-scrollbar {
    width: 8px;
}

.listaPuntos::-webkit-scrollbar-track, .listaMiembros::-webkit-scrollbar-track {
    background: #23232b;
    border-radius: 8px;
}

.listaMiembros::-webkit-scrollbar-thumb, .listaPuntos::-webkit-scrollbar-thumb {
    background: var(--buttonColor);
    border-radius: 8px;
}


.listaMiembros::-webkit-scrollbar-thumb:hover, .listaPuntos::-webkit-scrollbar-thumb:hover {
    background: #6257c4;
}