.logoutButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--buttonColor);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logoutButton:hover {
    background-color: var(--hoverButton);
}